main{
    display: grid;
    grid-template-columns: 3fr 5fr;
    width: 90%;
    margin: 1rem auto;
    gap: .5rem;
}

h1{
    grid-column: 1 / span 2;
}

section ol{
    margin-left: 3rem;
}

td{
    padding: .25rem;
    border-bottom: .5px solid black;
}