/* Your styles go here */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #d3c7d5;
    font-family: "Red Hat Text", Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-family: "Cormorant Infant", Cambria, Georgia, Times, serif;
}

h2{
    margin: 1rem 0 .5rem 1rem;
    font-family: "Cormorant Infant", Cambria, Georgia, Times, serif;
}

nav{
    text-align: center;
    background-color: #A285A6;
}

nav > a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    
}

a.current{
    border-bottom: 2px solid #0D0D0D;
    

}

.mainNav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mainNav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

header{

}

main{

}

footer{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    background-color: #A285A6;
    padding: 2rem 0;
}

.footerNav{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

@media all and (min-width: 600px){
    nav{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        align-items: center;
    }

    nav > a{
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        padding-left: 2rem;
    }

    .mainNav{
        grid-column: 3 / span 1;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-right: 1rem;
    }
}

/* Buttons */
.btn{
    background-color: #BF6545;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px #854730;
    cursor: pointer;
}

.btn:hover{
    background-color: #BF8F45;
}

.lg-btn{
    padding: 1rem 3rem;
    
}

.sm-btn{
    padding: .5rem 1.5rem;
}